/*
 * Test Configuration
 * Minimal resources for CI/CD testing
 */

params {
    // Test inputs
    input               = "${projectDir}/test/test_samplesheet.csv"
    outdir              = "${projectDir}/test/results"
    
    // Use small test reference (subset of chr12 KRAS region)
    genome_fasta        = "${projectDir}/test/data/chr12_kras_region.fa"
    
    // Target KRAS region only
    target_chromosome   = "chr12"
    target_start        = 25200000
    target_end          = 25250000
    
    // Relaxed filters for test data
    min_read_depth      = 5
    min_allele_frequency= 0.05
    
    // Germline filtering test data
    gnomad_vcf          = "${projectDir}/test/data/gnomad_test_kras.vcf.gz"
    gnomad_tbi          = "${projectDir}/test/data/gnomad_test_kras.vcf.gz.tbi"
    skip_germline_filter= false
    max_population_af   = 0.01  // Filter variants with gnomAD AF > 1%
    
    // BQSR settings
    skip_bqsr           = false  // Enable BQSR for testing
    save_bqsr_bam       = true   // Save BQSR BAMs for inspection
    
    // Minimal resources
    max_cpus            = 2
    max_memory          = '6.GB'
    max_time            = '1.h'
}

// Process-specific overrides for testing
process {
    withLabel: process_single {
        cpus   = 1
        memory = '1.GB'
        time   = '30.m'
    }
    
    withLabel: process_low {
        cpus   = 1
        memory = '2.GB'
        time   = '30.m'
    }
    
    withLabel: process_medium {
        cpus   = 2
        memory = '4.GB'
        time   = '1.h'
    }
    
    withLabel: process_high {
        cpus   = 2
        memory = '6.GB'
        time   = '1.h'
    }
}
