/*
 * Singularity-specific configuration for HPC environments
 */

singularity {
    enabled         = true
    autoMounts      = true
    cacheDir        = "${projectDir}/singularity_cache"
    pullTimeout     = '60 min'
    runOptions      = "--bind /scratch --bind /home --bind /tmp"
}

conda.enabled           = false
docker.enabled          = false
podman.enabled          = false
